/archive/*
/genomes_list/*
/DB_UPDATE
/logs/completion_flags/*
/scripts/bash_jobs/*
/logs/download/*
/logs/unzip/*
/logs/crisprD/*
/logs/updateDB/*
/logs/completion_flags/*
/logs/saveSpacers/*
/.snakemake
/output/archive/*
/output/spacers/*
/output/taxonomy/*

*.log
*.err
*.out